input {
    border: 1px solid gray;
    padding: 8px;
    margin: 4px;
    background-color: white;
    color: black;
    font-size: 16px;
    width: 48%;
    padding: 15px;
  }
  .form-group{
    padding: 20px;
    display: flex;
    
  }
  .avtar{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: antiquewhite;
  }
  
  .footer{display: flex;
    margin-bottom: -20px;
  }
  .footer p{
    padding: 10px;
    font-weight: 800  ;
    text-align: center;
  }.form-group {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  
  .form-group label {
   
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    padding: 0 5px;
    color: grey;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
  }
  
  .form-group div input {

width: 48%;
  }
  .copyright{
    padding: 10px;
  margin-right: 20px;
  }
  .copyright span{
    color: blue;
  }
  /* When the input field is in focus */
  
  