.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
background-image: url(https://1.bp.blogspot.com/-kNQv0fcUzgo/XucdiEHK5OI/AAAAAAAApBA/7ydS1wlKW9Ylz1AfwgUnNLlDWfGO1wtYACLcBGAsYHQ/s1600/Hinh-nen-thanh-pho%2B%25283%2529.jpg);
color: white;


}
.MuiListItemIcon-root.css-wa5fuu-MuiListItemIcon-root{
    color: white;
}
/* svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root{
    color: white;

} */